<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
  <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> -->
  <application android:usesCleartextTraffic="true" android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:allowBackup="false" android:theme="@style/AppTheme">
    <activity android:name=".MainActivity" android:label="@string/app_name" 
    android:screenOrientation="portrait"
    android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <intent-filter>
          <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
          <category android:name="android.intent.category.DEFAULT"/>
          <data android:mimeType="application/lightning-invoice"/>
      </intent-filter>

      <intent-filter>
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.BROWSABLE" />
          <category android:name="android.intent.category.DEFAULT"/>
          <action android:name="android.nfc.action.NDEF_DISCOVERED" />
          <action android:name="android.nfc.action.TECH_DISCOVERED" />
          <action android:name="android.nfc.action.TAG_DISCOVERED" />
          <data android:scheme="lightning"/>
      </intent-filter>

      <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.BROWSABLE" />
          <category android:name="android.intent.category.DEFAULT" />
          <action android:name="android.nfc.action.NDEF_DISCOVERED" />
          <action android:name="android.nfc.action.TECH_DISCOVERED" />
          <action android:name="android.nfc.action.TAG_DISCOVERED" />
          <data android:scheme="lnurlw" />
      </intent-filter>

      <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.BROWSABLE" />
          <category android:name="android.intent.category.DEFAULT" />
          <action android:name="android.nfc.action.NDEF_DISCOVERED" />
          <action android:name="android.nfc.action.TECH_DISCOVERED" />
          <action android:name="android.nfc.action.TAG_DISCOVERED" />
          <data android:scheme="keyauth" />
      </intent-filter>

      <intent-filter>
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.BROWSABLE" />
          <category android:name="android.intent.category.DEFAULT"/>
          <data android:scheme="blitz"/>
      </intent-filter>

      <intent-filter android:autoVerify="true">
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.DEFAULT"/>
          <category android:name="android.intent.category.BROWSABLE"/>
          <data android:host="blitz.link"/>
          <data android:scheme="http"/>
          <data android:scheme="https"/>
      </intent-filter>

      <intent-filter android:autoVerify="true">
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.DEFAULT"/>
          <category android:name="android.intent.category.BROWSABLE"/>
          <data android:host="blitz.page.link"/>
          <data android:scheme="http"/>
          <data android:scheme="https"/>
      </intent-filter>


    </activity>
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="true"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATE_URL" android:value="https://u.expo.dev/11b0574e-5e9e-46e9-813b-a2b08bca9f0b"/>
    <meta-data android:name="expo.modules.updates.EXPO_RUNTIME_VERSION" android:value="@string/expo_runtime_version"/>
  </application>
</manifest>