<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBh4iAO2IYDZkeHURfgsEBC-heO8fw4yKY</string>
	<key>GCM_SENDER_ID</key>
	<string>492441809848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BlitzWallet</string>
	<key>PROJECT_ID</key>
	<string>blitz-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>blitz-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492441809848:ios:a975a9d1c8412d1a9e554d</string>
	<key>DATABASE_URL</key>
	<string>https://blitz-wallet-default-rtdb.firebaseio.com</string>
</dict>
</plist>